.schedule__title {
    font-size: 2rem;
    margin: 1rem;
}

.schedule__address-container {
    font-size: 0.5rem;
    margin: 1rem;
}

.schedule__timetable-sheet {
    width: 100%;
    max-width: 1170px;
    margin: 1rem;
    min-height: 500px;
}

.schedule__link-to-sheet {
    padding: 1rem;
    font-size: 1rem;
    color: #86C83E;
}

.schedule__classes-container {
    padding: 1rem;
}

.schedule__classes-container p, h2 {
    margin: 1rem;
}