.studios__directions_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.studios__map {
    margin: 1rem;
}

.studios__images-wrapper {
    display: flex;
}

.studios__images-container {
    flex-grow: 1;
}

.studios__images {
    margin: 1rem auto 2rem auto;
    max-width: 600px;
    padding: 1rem;
}

.studios__title {
    margin: 1rem;
    font-size: 1.5rem;
    color: 	#686868;
    border-bottom: 1px solid #D3D3D3;
}

.studios__sub-title {
    margin: 1rem;
    font-size: 1.25rem;
    color: 	#686868;
    border-bottom: 1px solid #D3D3D3;
}


.studios__address {
    display: none;
    margin: 1rem;
}

.studios__address-item-link {
    margin-bottom: 0.25rem;
    font-size: 1.25rem;
    text-decoration: none;
    color: #000;
}

.studios__address-item-link:hover {
    color: #86C83E;
}


@media only screen and (max-width: 600px) {
    .studios__directions_container {
        justify-content: flex-start;
    }
    .studios__images-wrapper {
        flex-direction: column;
    }
    .studios__map {
        display: none;
    }
    .studios__address {
        display: block;
    }  
}