.footer__wrapper {
    display: flex;
    padding: 1rem;
}

.footer__container {
    display: flex;
}

.footer__address-partition {
    margin-right: 1rem;
}

.footer__address-item {
    display: block;
    margin: 0.25rem 0;
    font-size: 0.75rem;
    font-style: normal;
    text-decoration: none;
    color: #000;
}

.footer__address-item-link {
    display: block;
    margin: 0.25rem 0;
    font-size: 0.75rem;
    font-style: normal;
    text-decoration: none;
    color: #000;
}

.footer__address-item-link:hover {
    color: #86C83E;
}
