.footer__wrapper {
    display: flex;
    padding: 1rem;
}

 @media only screen and (max-width: 600px) {
    .footer__wrapper {
        display: flex;
        padding: 1rem;
        flex-direction: column;
    } 
}

.footer__container {
    display: flex;
}

.footer__address-partition {
    margin: 0 1rem 1rem 0;
}

.footer__address-item {
    margin-bottom: 0.25rem;
    font-size: 0.75rem;
    font-style: normal;
    text-decoration: none;
    color: #000;
}

.footer__address-item-link {
    font-size: 0.75rem;
    font-style: normal;
    text-decoration: none;
    vertical-align: top;
    color: #000;
}

.footer__address-item-link:hover {
    color: #86C83E;
}

.footer__address-icon-phone {
    margin-right: 0.5rem;
}
