.header {
    display: flex;
    padding: 1rem;
}

.header__logo-container {
    margin-right: auto;
    width: 10rem;
}

.header__navigation {
    display: inline-block;
}


.header__navigation-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0.5rem;
}

.header__navigation-list-item {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    background: none;
    box-shadow: 0 0 0 1px #000;
    padding: 0.75rem;
    font-size: 1rem;
    color: #000;
    margin: 0.5rem;
    transition: box-shadow 0.3s;
}

.header__navigation-list-item:not(:last-child) {
    margin-right: 1.5rem;
}

.header__navigation-list-item:hover {
    box-shadow: 0 0 0 2px #D3D3D3;
}

@media only screen and (max-width: 690px) {
    .header {
        flex-direction: column;
    }
}