.hero-section__image-container {
    width: 100%;
}

.hero-section__background-image {
    display: flex;
    justify-content: center;
    min-height: 700px;
}

.hero-text {
    background: rgba(0, 0, 0, 0.3);
    margin: 6rem 0;
    padding: 1rem;
    width: 90%;
    height: fit-content;
}

.hero-text__title {
    font-size: 2rem;
    margin: 1rem;
    color: #FFF;
    text-align: center;
}

.hero-text__sub-title {
    font-size: 1.5rem;
    margin: 1rem;
    color: #FFF;
    text-align: center;
}

.hero-text__button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.hero-text__button {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    background: none;
    box-shadow: 0 0 0 1px #FFF;
    border:none;
    padding: 0.75rem;
    font-size: 1rem;
    width: 10rem;
    color: #FFF;
    margin: 0.5rem;
    transition: box-shadow 0.3s;
}

.hero-text__button:hover {
    box-shadow: 0 0 0 2px #D3D3D3;
}