* {
    margin: 0;
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
    font-size: 15px;
}

.layout__wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
}

.layout__main {
    flex-grow: 1;
}